.Header-transparent-19 {
    .MuiButton-label-64 {
      a {
        pointer-events: none;
        color: white !important;
      }
    }
  }
  

.Header-white-21 {
  .MuiButton-label-64 {
    a {
      pointer-events: none;
      color: black !important;
    }
  }
}
